<mat-card>
    <mat-card-header>
        <mat-card-title>Crear publicación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <textarea placeholder="Escibe algo..."></textarea>
        <div *ngIf="imagenPrevia" id="post-preview">
            <img [src]="imagenPrevia" id="post-imagen-previa" alt="Vista previa de la imagen">
        </div>
    </mat-card-content>
        
        <mat-card-actions aling="end">
            <button mat-raised-button color="primary">
                <label for="cargar-foto">
                    <input #seleccionarFoto 
                    (change)="fotoSeleccionada(seleccionarFoto)" 
                    id="cargar-foto" 
                    type="file" 
                    accept="image/*" hidden>
                    <mat-icon>add_a_photo</mat-icon>Subir imagen
                </label>
            </button>
            <button mat-raised-button color="accent">Publicar</button>
        </mat-card-actions>
</mat-card>