<div id="autenticador">
    <mat-card id="autenticador-content">
        <mat-card-header>
            <mat-card-title>{{getStateText()}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="isIniciarSesionState()">
            <input #loginCorreo placeholder="Correo" />
            <input #loginContrasena placeholder="Contraseña" type="password">
            <button
            (click)="login(
                loginCorreo,
                loginContrasena)"
            mat-flat-button color="warn">Iniciar Sesión</button>
        </div>
        <div *ngIf="isRegistroState()">
            <input #registroCorreo placeholder="Correo" />
            <input #registroContrasena placeholder="Contraseña" type="password">
            <input #registroConfirmarContrasena placeholder="Confirmar Contraseña">
            <button 
            (click)="registroClick(
                registroCorreo,
                registroContrasena,
                registroConfirmarContrasena)"
            mat-flat-button color="warn">Crear</button>
        </div>
        <div *ngIf="isOlvidasteContrasenaState()">
            <input #reinicioCorreo placeholder="Correo">
            <button
            (click)="reiniciar(
                reinicioCorreo)"
            mat-flat-button color="warn">Reiniciar</button>
        </div>
        <mat-card-actions aling="end">
            <button mat-flat-button (click)="ovidasteContrasenaClick()">¿Olvidaste tu Contraseña?</button>
            <button mat-flat-button (click)="crearCuentaClick()">Crear Cuenta</button>
            <button mat-flat-button (click)="iniciarSesionClick()">Iniciar Sesión</button>
        </mat-card-actions>
    </mat-card>
</div>
